header{
	text-align: center;
	background-color:#708090 ;
	color: white;
}


body.fondo{
	background-image:"fondo.jpg" ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

img:hover{
	opacity: 0.5;
}

a{
	text-decoration: none;
	color: #DEB887; 
}

ul>li{
list-style: none;
display: inline;
margin-left: 10em;
font-size: 1.2em;
font-family: sans-serif;
}

nav{
	background-color: rgba(0, 0, 0, 0.8);
}

nav:hover{
	color: #DEB887;
	background-color:#708090;
}
 article{
 	background-color: rgba(0, 0, 0, 0.8);
 	color:#DEB887 ;
 }

 article:hover{
color: #DEB887;
	background-color:#708090;
 }